@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "WangFont";
  src: url(/fonts/wangfont.ttf);
}

@font-face {
  font-family: "ZhanKu";
  src: url(/fonts/zhanku.ttf);
}
