* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.text-input {
  outline: none;
  border-radius: 5px;
  padding: 15px;
  @apply border border-black duration-200;
  @apply border-opacity-20;
}

.text-input:focus {
  @apply border-opacity-50;
}

*::-webkit-scrollbar {
  display: none;
}

.noise {
  height: 100%;
  filter: contrast(270%) brightness(1500%) grayscale();
}

.noise-top {
  background: linear-gradient(to top, black, transparent), url(/noise.svg);
}

.noise-bottom {
  background: linear-gradient(to bottom, black, transparent), url(/noise.svg);
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  mix-blend-mode: multiply;
}

.isolate {
  isolation: isolate;
  position: relative;
  width: 100%;
  height: 100%;
}
